*{
    margin-left: 20;
    color:aqua
}

h1 {
    color: red;
}

li, p {
    color: green;
}

.special {
    color: orange;
    font-size: small;
    list-style-type: none;
}

#heading2{
    color: blue;
    text-align: center;
}


