*{
    margin-left: 20;
    color:green
}

body {
    margin: 0%;
    background-color: darkblue;
}

h1 {
    color: red;
}

li, p {
    color: green;
}

.special {
    color: orange;
    font-size: small;
    list-style-type: none;
}

#heading2 {
    color: blue;
    text-align: center;
}

.navbar {
    left: 400px;
    top: 0px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.horizList {
    left: 400px;
    top: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.highlight-image {
    opacity: 0.7;
    transition-property: opacity, color;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.2s;
    display: inline;
}

.highlight-image:hover {
    opacity: 1;
}

.svg-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(107%) contrast(103%);
}

.tabcontent {
    list-style: none;
}

svg {
    padding: 10%;
}

.svg-parent {
    display: inline-block;
}

.bright-image {
    opacity: 1.0;
    transition-property: opacity, color;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-duration: 0.2s;
}

.bright-image:hover {
    opacity: 0.9;
}

.iframe-game {
    display: block;
}

.svg-link-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-item {
    max-width: fit-content;
    min-width: fit-content;
}

.portfolio-grid {
    display: grid;
}
